body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #f5f5f5;
  font-weight: 300;
 }


 .navbar-brand {
  margin-left: 15px;
}
.app-name-navbar {
  color: #A97B47; 
  font-size: 25px; 
  text-decoration: none;
}
.btn-register-nv {
  background-color: #F7F0E9 !important;
  border-color: #F7F0E9 !important;
  color: #A97B47 !important;
  width: 100px !important;
  border-radius: 10px !important;
  margin-right: 15px;
  font-size: 18px !important;
}
.btn-login-nv {
  background-color: #F7F0E9 !important;
  border-color: #F7F0E9 !important;
  color: #A97B47 !important;
  width: 100px !important;
  border-radius: 10px !important;
  margin-right: 15px;
  font-size: 18px !important;
}
.btn-cart-nv{
  background-color: #593C1C !important;
  border-color: #593C1C !important;
  color: #f5f5f5 !important;
  width: 100px !important;
  border-radius: 10px !important;
  margin-right: 15px;
  font-size: 18px !important;
}
.home-btn {
  background-color: #A97B47 !important;
  border-color: #A97B47 !important;
  color: white !important;
}
.username{
  margin: 15px 55px;
  font-weight: 700;
  font-size: large;
}
.footer-txt {
  color: white; 
  text-align: center; 
  background-color: #593C1C;
}

.user-detail{
  background: #fff;
  border-radius: 15px;
  padding: 2%;
  margin-bottom: 8vh;
}
.width{
  width: 80vw;
}
.center{
  text-align: center;
}
.user-detail p{
  color: #593c1c;
  font-weight: 600;

}
.footer{
  background-color: #593C1C;
  color: #F5F5F5;
  font-weight: 600;
text-align: center;
margin-top: 15px;
padding: 2px;
}
.vertical-center {
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.simple_button{
  background-color: #F7F0E9;
  margin: 0;
  padding: 10px;
  color: #A97B47;
  
}

.amount_inbox{
  text-align: center;
  width: 35vw;
  border-radius: 10px;
}
.budget_width{
  /* width: 35vw; */
  margin: 0;
  padding-left: -40px;
  font-size: 500%;
  font-weight: 900;
}
.budget{
  color: #593c1c;
  margin: 0;
  /* padding: 0; */
  /* width: fit-content; */
  /* text-align: center; */

}
.white_button{
  background-color: #FFF;
  color: #909090;
  width: 30vw;
  margin: 9px;
  padding: 3px;
  border-style: double;
  border-radius: 5px;;
  border-color: #909090;
}

.brown_button_amount{
  background-color: #593C1C;
  margin-top: 10px;
  padding: 6px;
  color: #F5F5F5;
  width: 35vw;
  border-radius: 10px;
}
.brown_button{
  background-color: #593C1C;
  margin: 4vh 9px;
  padding: 6px;
  color: #F5F5F5;
  width: 30vw;
  border-radius: 10px;

}
.brown_button:hover{
  color: #F5F5F5;
}
.brown_button_amount:hover{
  color: #F5F5F5;
}
.brown{
  color: #593c1c;
}
.yellow{
  color: #ffc700;
}
.red{
  color: #c82525;
}
.mt-20{
  margin-top: 20vh;
}
/* p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  padding: 7rem 0; }

h2 {
  font-size: 20px; } */

/* .custom-table {
  min-width: 900px; } */
  .custom-table thead tr, .custom-table thead th {
    border-top: none;
    border-bottom: none !important;
 
    background: #fff;

  }

  .custom-table thead tr th:first-child, .custom-table thead tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }
  .custom-table thead tr th:last-child, .custom-table thead tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }

/* 
  .custom-table thead tr:not(.spacer) {
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .custom-table thead tr th:first-child, .custom-table thead tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }
  .custom-table thead tr th:last-child, .custom-table thead tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; } */


  .custom-table thead th, .custom-table thead td {
    padding-bottom: 10px;
    padding-top: 10px;
  }





  .custom-table thead tr {
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .custom-table thead tr:not(.spacer):hover {
      -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1); }
    .custom-table thead tr{
      border-top-left-radius: 10px !important;
      border-bottom-left-radius: 10px !important; }
    .custom-table thead tr{
      border-top-right-radius: 10px !important;
      border-bottom-right-radius: 10px !important; }
      


    .custom-table tbody th, .custom-table tbody td {
      color: #777;
      font-weight: 400;
      padding-bottom: 20px;
      padding-left: 15px;

      padding-top: 35px;
      font-weight: 700; 
      
    }
    .custom-table tbody th:first-child, .custom-table tbody td:first-child {
      padding-top: 20px !important;

    }
      .custom-table tbody th small, .custom-table tbody td small {
        color: #b3b3b3;
        font-weight: 300; }
    .custom-table tbody tr:not(.spacer) {
      border-radius: 10px;
      overflow: hidden;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .custom-table tbody tr:not(.spacer):hover {
        -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1); }
    .custom-table tbody tr th, .custom-table tbody tr td {
      background: #fff;
      border: none; }
      .custom-table tbody tr th:first-child, .custom-table tbody tr td:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; }
      .custom-table tbody tr th:last-child, .custom-table tbody tr td:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; }
    .custom-table tbody tr.spacer td {
      padding: 0 !important;
      height: 15px;
      border-radius: 0 !important;
      background: transparent !important; }


.counter-btn{
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: -10px 0px 0px -30px;
}
.buttonn{
  border: none;
  background: transparent;
}
      /* input[type="number"] {
        -webkit-appearance: textfield;
           -moz-appearance: textfield;
                appearance: textfield;
      }
      input[type=number]::-webkit-inner-spin-button, 
      input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
      } */
/* Custom Checkbox */
/* .control {
  display: block;
  position: relative;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 18px; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 2px solid #ccc;
  background: transparent; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  border: 2px solid #007bff; }

.control input:checked ~ .control__indicator {
  border: 2px solid #007bff;
  background: #007bff; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
  border: 2px solid #ccc; }

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none; }

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -52%);
  -ms-transform: translate(-50%, -52%);
  transform: translate(-50%, -52%); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #007bff;
  opacity: .2;
  border: 2px solid #007bff; } */
